.editPromocodeModal {
  .list-group-res {
    position: relative;
    .list-group-res-title {
      position: absolute;
      top: -12px;
      left: 10px;
      background: white;
      padding: 0 5px;
    }
  }

}
