<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Management Console</title>
    <script src="https://use.fontawesome.com/a477b2d739.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<div id="root">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtv3S4sKtUtwBwvvkQuGbq3HrzGftdJpc&libraries=geometry,drawing"></script>
</body>
</html>
