{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true
    },
    "extends": ["airbnb"],
    "rules": {
      "no-unused-prop-types": 0,
      "react/prop-types": 0,
      "react/jsx-filename-extension": 0,
      "class-methods-use-this": 0,
      "object-curly-spacing": 0,
      "no-param-reassign": 0,
      "import/no-extraneous-dependencies": 0,
      "no-nested-ternary": 0,
      "react/forbid-prop-types": 0,
      "func-names": 0,
      "linebreak-style": 0,
      "no-console": 0,
      "no-plusplus": 0,
      "prefer-arrow-callback": 0,
      "arrow-body-style":0
      },
    "globals": {
      "_": true,
      "beforeEach": true,
      "Blob": true,
      "DEBUG": true,
      "describe": true,
      "DEV": true,
      "document": true,
      "expect": true,
      "FileReader": true,
      "FormData": true,
      "google": true,
      "it": true,
      "jest": true,
      "module": true,
      "moment": true,
      "NODE_ENV": true,
      "process": true,
      "React": true,
      "require": true,
      "required": true,
      "window": true,
      "XMLHttpRequest": true,
      "GIT_BRANCH": true,
      "BUILD_NUMBER": true,
      "GIT_COMMIT": true,
      "VERSION": true,
      "URL": true,
      "MouseEvent": true,
      "location": true
    }
}
