.ride-history {
  .marker {
    border-radius: 50px;
    color: black;
    padding: 10px;
    width: 30px;
    height: 30px;
    background: white;
    line-height: 11px;
    display: block;
    text-align: center;
  }
}
