.options-list-common {
    min-width: 75px;
    text-align: center;
    max-height: 150px;
    overflow: auto;
  .list-group {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .list-group-item {
    padding: 0;
    .list-unstyled {
      li {
        padding: 3px 10px;
        color: #999999;
        white-space: nowrap;
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}
